[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
roleml = "*"

[packages]
riotwatcher = "*"
lol-id-tools = "*"
lol-dto = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
