[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
riotwatcher = "*"
lol-id-tools = "*"
lol-dto = "==0.0.1a5"

[requires]
python_version = "3.8"
